#main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .comunnityTable {
    width: 70%;
    text-align: center;
    border: solid 2px;
    border-collapse: collapse;
  }
  .comunnityTable td {
    border: solid 2px;
  }
  .comunnityTable th {
    border: solid 2px;
  }
  .contentIdx {
    width: 10%;
  }
  .contentTitle {
    width: 70%;
  }
  .comunityBox {
    margin-top: 10%;
    padding-left: 15%;
  }
.pagination {
  text-align:center;
  padding: 20px;
}
.newContent {
  text-align: right;
  padding-right: 15%;
}
.newContentBtn:hover {
  cursor: pointer;
}