.contentPage {
    text-align: center;
    align-items: center;
}
.titleBar {
    display: flex;
    margin: 50px;
}
.writer {
    width: 100px;
    padding: 20px;
    border: solid 2px;
}
.title {
    flex-grow: 1;
    margin: 0;
    padding: 20px;
    border: solid 2px;
}
.dateOfUpload {
    width: 100px;
    padding: 20px;
    border: solid 2px;
}
.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-bottom: 10px;
}
.contentWord {
    width: 60%;
    height: 200px;
    margin-top: 20px;
    border: solid 2px;
}
.contentBtnBox {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 20%;
}
.contentBtn {
    margin: 3px;
}
.commentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:30px
}
.commentTable {
    width: 60%;
    border: solid 2px;
    border-collapse: collapse;
}
.commentTable * {
    border-bottom: solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.commentNickName {
    padding-left: 20px;
    text-align: left;
}
.commentWord {
    padding-left: 20px;
    text-align: left;
}
.tdNickName {
    text-align: left;
    width: 100px;
    padding-left: 20px;
}
.tdComment {
    text-align: left;
    padding-left: 20px;
}
.tdCreatedAt {
    width: 100px;
}