.findUserInfo {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    background-image: url('https://source.unsplash.com/_C5zsV_p-YI');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    /* color:white; */
}
.finputEmail, .finputName, .finputBirth {
    width: 300px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.findEmailBtn, .findPwBtn{
    width: 300px;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    transition-duration: 0.5s;
}
.findEmailBtn:hover, .findPwBtn:hover {
    border:solid 2px;
    background-color: rgba(255, 0, 0, 0);
}
.yourEmail, .yourPw {
    width: auto;
    height: 100px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    line-height: 100px;
    border-radius: 10px;
    background-color: rgba(194, 248, 255, 0.7);
}
.err {
    width: auto;
    height: 50px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    line-height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.658);
}