.Footer {
   text-align: center;
   vertical-align: bottom;
   color: white;
   font-weight: bold;
   padding: 2%;
   background-color: hsl(240, 3%, 75%);
   border-top: outset;
   height: 30px;
   bottom: 0;
   width: 100%;
   margin-top: 2%;
}
