.userInfoArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 400px;
  margin-left : 150px;
  padding-bottom: 100px;
  padding-top : 70px

}

.userInfoText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 2px;
  height: 300px;
  width: 100%;
}

.inputFileButton{
  padding: 6px 25px;
  background-color:black;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  position: relative;
  right: 220px;
  top : 30px;
}

.userInfoText span {
  color: #404040;
  font-size: 14px;
}

.userInfoText div {
  padding-left: 40px;
}

.userImage {
  padding: 40px;
  width: 250px;
  height: 250px;
  border-radius: 70%;
}
.modifyBtnDiv{
  display: flex;
  margin-left: 800px;
  margin-top: 520px;
}
.modifyBtnDiv button{
  width : 100px;
  height: 40px;
}

.listBtnDiv {
  display: flex;
  justify-content: flex-start;
}

.postList {
  border: solid 1px;
  width: 100%;
  height: 400px;
}

.userPostList {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.h1PostComment {
  padding-left: 500px;
}

.iconPostComment {
  padding-left: 620px;
}
.userId {
  margin: 10px;
}
.userContent {
  margin: 10px;
}

button {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 14px;
  margin: 2px;
}

button:hover {
  background-color: rgb(65, 65, 65);
}

.mypageTitle {
  text-align: left;
  padding: 30px;
}

.userInfoTable {
  width: 100%;
  border-spacing: 25px;
  position:absolute;
  margin-left: 400px;
  
}

.userInfoTable tr {
  font-weight: 600;
  font-size: 24px;
}

.userInfoTable tr td {
  font-weight: 600;
  font-size: 17px;
  padding-bottom: 20px;
}

.userInfoTable button {
  margin-left: 100px;
}

.userInfoTable input {
  width: 150px;
  height: 20px;
}

.currentPwd {
  margin-left: 40px;
  width: 150px;
  height: 20px;
}

.newPwd {
  margin-left: 55px;
  width: 150px;
  height: 20px;
}

.newPwdCheck {
  margin-left: 10px;
  width: 150px;
  height: 20px;
}

.userNotFound {
  padding-left: 100px;
  color: #9a9a9a;
  font-weight: 600;
  font-size: 40px;
}

#listTitle{
  margin-left : 45%;
}

.h1PostComment{
  margin-left: 270px;
}
