.navContainer {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: black;
}
#navLogo {
  flex-grow: 1;
  align-items: center;
  text-align: center;  
}
.logo{
  font-size: 30px;
  text-decoration-line: none;
  color: white;
  font-weight: bold;
}
#ham {
  margin-left: 20px;
  width: 50px;
  cursor: pointer;
  color: white;
  padding-right: 90px;
  font-size: 30px;
}
#ham:hover,
#ham:focus {
  color: red;
}
#loginBlock {
  width: 50px;
  height: 24px;
  padding-right: 10px;
  line-height: 24px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#loginBlock:hover {
  color: red;
}
#signupBlock {
  width: 60px;
  height: 24px;
  padding-right: 20px;
  line-height: 24px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration-line: none;
}
#signupBlock:hover {
  color: red;
}
.profileImg {
  width: 60px;
  height: 50px;
  padding: 23px;
  cursor: pointer;
  border-radius: 70%;
}
/* 홍 profileImg 수정 */
body {
  margin-top: 70px;
  padding-top: 0px;
}