.pagination {
   display: flex;
   justify-content: center;
   list-style: none;
   float: center;
   margin-bottom: 2.1%;
   /* display: inline; */
}

.pageItem {
   /* border: 1px solid gray;
   padding: 0.5%; */
   float: left;
}

.pageLink {
   /* color: black;
   text-decoration: none; */
   float: left;
   padding: 4px;
   margin-right: 3px;
   width: 15px;
   color: #000;
   font: bold 12px tahoma;
   border: 1px solid #eee;
   text-align: center;
   text-decoration: none;
}
.pageLink:hover,
.pageLink:focus {
   color: white;
   border: 1px solid white;
   background-color: black;
}
