.itemTitle {
   text-align: center;
   font-weight: bold;
}
.item {
   padding: 2%;
   width: 30%;
   border: 0.2rem solid gray;
   border-radius: 15%;
   margin-top: 2%;
   margin-bottom: 1%;
   text-align: center;
}

.image {
   width: 70%;
   margin-top: 12%;
}
.itemGroup {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   min-width: 200px;
}
