.itemTitle {
   text-align: center;
   font-weight: bold;
}
.item {
   padding: 2%;
   width: 12%;
   overflow:hidden;
   margin: 3%;
   border: 0.2rem solid gray;
   border-radius: 15%;
   margin-top: 2%;
   margin-bottom: 1%;
   text-align: center;
   background-color: white;
   transition-duration: 0.5s;
}
.item:hover {
   background-color: rgb(236, 236, 236);
}
.image {
   width: 100%;
   height: 50%;
   margin-top: 12%;
   border-radius: 10px;
}
.itemGroup {
   display: flex;
   justify-content: space-around;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   min-width: 200px;
}
