

.inputArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  
  /* padding-left: 585px; */
}

.emailDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}

.pwdDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;

}

.pwdCheckDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;

}

.nameDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;

}

.birthDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;

}

.birthInputDiv{
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;

}
.nicknameDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: rgba(255, 192, 203, 0.493);
  width: 25%;
  margin-left : 37.5%;
  border-radius: 10px;
  padding-bottom: 30px;
  margin-bottom: 10px;



}
.signupForm {
  align-items: center;
  text-align: center;
}
.inputAreaBirth {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 50px; */
}

.inputArea span {
  color: #404040;
  font-size: 14px;
  position: relative;
  margin-bottom: 8px;
}

p {
  color: #9a9a9a;
  font-size: 14px;
}

.inputArea input {
  width: 300px;
  height: 50px;
}

.signupBtn {
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-top: 40px;
  /* margin-left: 50px; */
  width: 300px;
  height: 50px;
}

.inputMonth {
  width: 90px;
  height: 55px;
  margin: 20px;
}

.inputYear {
  width: 80px;
  height: 50px;
}

.inputDay {
  width: 80px;
  height: 50px;
}